**/target
**/dist
__pycache__
**/typings
.envrc
.ruff_cache/

**/node_modules
**/*.dat
**/*.out
**/*.pt
**/*.log
**/*.so
**/.venv
**/trajectory_dump.txt
**/*.jsonl
.claude/scheduled_tasks.lock
poke_ai2/dump/
/data/